body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url("../images/paisaje.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container_form {
    background-color: #0a1e35;
    border-radius: 15px;
    padding: 70px;
    opacity: 0.9;
}

h2 {
    text-align: center;
    color: white;
}

input {
    display: block;
    width: 320px;
    height: 40px;
    margin-bottom: 20px;
    padding: 0 55px;
    font-size: 18px;
    outline: none;
    border: none;
    background: transparent;
    color: white;
    /* la line blanca input*/
    border-bottom: 2px solid white;
}

.btn-registro {
    width: 150px;
    height: 40px;
    border-radius: 2px;
    background-color: #048620;
    color: white;
    display: block;
    margin-top: 30px;
    border: none;
    border-bottom: 2px solid #0b5a1c;
    text-align: center;
    width: 320px;
    height: 40px;
    margin-left: 30px;
}